.button {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  border: white;
  background-color: blueviolet;
  color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.none {
  display: none;
}
.game {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}
body {
  background-image: url(background13.jpg);
}
.button_margin {
  margin-left: 20px;
}
